#Content {
    #Product {
        .star-active {
            color: var(--color-yellow);
        }
        .list-share {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            .list-share-item {
                font-size: 11px;
                height: 14px;
                padding: 4px 5px 0;
                width: fit-content;
                border-radius: 3px;
                display: flex;
                font-weight: bold;
                align-items: center;
                transition: all 0.3s;

                &:hover {
                    opacity: 0.8;
                    transition: all 0.3s;
                }

                &.blue {
                    background-color: #4167b2;
                    color: white;
                }

                &.blue-light {
                    background-color: #1a95e0;
                    color: white;
                }

                &.red-light {
                    background-color: #ff6e4c;
                    color: white;
                }
            }
        }
    }
}
